*{
	margin:0px;
	padding:0px;
}
body{
	
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
	#page-wrap{
		padding-top:20px;
		padding-left:20px;
		}
		h1{
			margin-bottom:10px;
		}
		.items a,.items a:active,.items a:link,.items a:visited{
			font-size:1.2em;
			color:#3300CC;
			text-decoration:underline;
			display:block;
			margin-top:10px;
		}
		.items a:hover{
			text-decoration:none;	
		}
		.brief{
			font-size:0.8em;
			padding-left:10px;
		}
		.long{
			font-size:0.8em;
			padding-left:10px;
		}
	#animationbody{
	  padding-left:0px;
	  padding-right:0px;
	  height:340px;
	  width:962px;
	  margin-bottom:0px;
	  margin-top:0px;
	  margin-left:0px;
	  margin-right:0px;
	  position:relative;
	}
	
	#leftcontainer{
	  width:500px;
	  height:340px;
	  position:relative;
	  float:left;
	}
	
	#centercontainer{
	  width:200px;
	  height:340px;
	  position:relative;
	  float:left;
	}
	
	#rightcontainer{
	  width:250px;
	  height:340px;
	  position:relative;
	  float:left;
	}
	#clock{
	  margin-right:2px;
	    float:left;
	    position:relative;
	}
	#previous{
	  margin-right:2px;
	    float:left;
	    position:relative;
	}
	
	#next{
	
	
	}
	
	.product {
	  bottom:-20px;
	  position:relative;
	}
	
	
	
	
	.slideshowitem{
	  
	  text-align:right;
	}
	
	.header1
	{
	  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	  font-size:14px;
	  font-weight:bold;
			
	  display:block;
	  margin-bottom:5px;
	  margin-top:80px;
	  color:white;
		
	}
	
	.header2
	{
	  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	  font-size:26px;
	  display:block;
	  color:#F44920;
		
	}
	
	.textbody
	{
	  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	  font-size:12px;
	  
			
	  display:block;
	  margin-top:10px;
	  color:white;
	}
	
	.buttonimage
	{
	
	  margin-top:10px;
	}
